
    {% extends 'base.html' %}
    {% block aboutactive %} active {% endblock aboutactive %}
    {% block body  %}
     
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\static\3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="\static\2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="\static\1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    Hello , so I am AMAN VYAS from SVNIT,suart,i did participate in ALL INDIA INTERNIT SWIMMING COMPITITION 2020 held at NITK,SURATHKAL 
    ACHHIEVEMETS:I won 2 gold medals,2 silver medals and 1 broze medal respectively for 
    
    {% endblock body  %}
    {% block title %}about{% endblock title %}